{% extends 'main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
<div class="col-7 enBleu">

    <h1 class="h3 mb-3 font-weight-normal">Saisissez votre adresse :</h1>
    {{ form(formulaire) }}
    <br>

</div>

{% endblock %}
