{% extends 'main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
<div class="col-3 enBleu centrer" style='height : 100%;'>
    <br>
    <a href="login" class="bouton">
        Connexion
    </a>
    <br>
    <br>
</div>

<div class="col-1">
</div>

<div class="col-5 enBleu">
    <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous ici :</h1>
    {{ form(formulaire) }}
</div>

{% endblock %}
