:root {
    --burger_closed : -12em;
    --burger_opened : 10em;
}
/* Sidenav menu */
.sidenav {
  width: var(--burger_opened );
  position: fixed;
  z-index: 1;
  top: 0;
  right: var(--burger_closed);
  color: white;
  background-color: var(--couleur_base);
  padding-top: 60px;
  transition: right 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 3px;
  display: block;
  transition: 0.3s;
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  right: 0px;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 1px;
}
/* 2 choix pour les liens dans le burger menu - 1 est à éliminer */
a.burgerClair
{
  font-weight : bold;
  color : var(--couleur_claire);
}
a.burgerClair:hover
{
  color : var(--couleur_fond);
}
a.burgerSombre
{
  font-weight : bold;
  color : var(--couleur_fond);
}
a.burgerSombre:hover
{
  color : var(--couleur_claire);
}
