:root {
    --burger_closed : -12em;
    --burger_opened : 10em;
}
/* Sidenav menu */
.sidenav {
  width: var(--burger_opened );
  position: fixed;
  z-index: 10;
  top: 0;
  left: var(--burger_closed);
  color: white;
  background-color: var(--couleur_base);
  padding-top: 1em;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 3px;
  display: block;
  transition: 0.3s;
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left : 0px;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 1px;
}
/* Pour afficher en plus gros les icones Discord et Facebook en mode vertical : si parent=burgerSize, grossir la fonte */
.burgerSize .barreDEmenu
{
  font-size : 2em;
}
/* Liens dans le burger menu */
a.burgerSombre
{
  font-weight : bold;
  color : var(--couleur_fond);
}
a.burgerSombre:hover
{
  color : var(--couleur_claire);
}
