#contenantPage
{
  width : 100vw;
  height : 90vh;
  background : var(--couleur_base);
  padding-left : 1.2em;
  padding-right : 1em;
  padding-top : 0.4em;
}
h3
{
  color : var(--couleur_base);
  border-bottom : 3px solid var(--couleur_base);
}
.bouton
{
  margin-left : 2em;
}

#monCalendrier { overflow-y: hidden; }
.fc-content-skeleton
{ max-height : 1px; margin-top: 0.5em; background-color: var(--couleur_base); }
.fc-widget-content
{
  max-height : 2em;
}
/* Aspect d'un cadre avec événement */
.fc-day-grid-event
{
  border : 1px solid var(--couleur_fond);
  border-radius : 0px!important;
}
/* Couleur du texte des evts */
.fc-title
{
  color : var(--couleur_claire);
}
/* Couleur de bordure des evts */
.fc-event
{
  border: 1px solid var(--couleur_fond)!important;
}
/* Changement du fond de l'evt sur hover */
.fc-event:hover
{
  background-color : var(--couleur_claire)!important;
}
/* Changement de la couleur du texte de l'evt sur hover */
.fc-event:hover .fc-title
{
  color : var(--couleur_fond)!important;
}

/* Boutons année-mois-semaine-jour, Revenir en [mois actuel], précédent et suivant */
/*, .fc-list-button, .fc-listYear-button, .fc-dayGridMonth-button, .fc-dayGridWeek-button, .fc-dayGridDay-button, .fc-today-button, .fc-prev-button, .fc-next-button*/
.fc-button
{
  background-color : var(--couleur_fond);
  color : var(--couleur_claire);
  border-radius : 0px!important;
  text-shadow : none;
}
/* Pour éviter le bord gris autour du bouton (l'un de ceux ci-dessus) quand on clique dessus */
.fc-button-primary:focus
{
  box-shadow : none;
}
.fc-button-active
{
  background-color : var(--couleur_base)!important;
  color : var(--couleur_fond);
  border-radius : 0px!important;
}
/* Couleur du rectangle du jour actuel */
td.fc-today
{
  background-color : var(--couleur_base)!important;
}
.fc-day-top.fc-today
{
  background-color : transparent;             /* Cacher le fond, qui fait la moitié de la hauteur d'une case du calendrier et dépasse sur les côtés */
}
/* Griser les numéros des jours passés */
.fc-day-top.fc-past
{
  opacity : 0.3;
}
/* Ne pas griser les jours futurs du mois en cours */
.fc-day-top.fc-future
{
  opacity : 1;
}
/* Mise en évidence du numéro du jour actuel */
.fc-day-top.fc-today .fc-day-number
{
  color : var(--couleur_claire);
  text-shadow : 1px 0px 1px var(--couleur_fond), -1px 0px 1px var(--couleur_fond), 0px 1px 1px var(--couleur_fond), 0px -1px 1px var(--couleur_fond);
}
/* Traits de bordure */
.fc-bgevent-skeleton, .fc-bgevent-skeleton td, .fc-day-header, .fc-widget-header
{
  border : 1px solid var(--couleur_fond);
}
/* Traits de bordure de la première ligne */
.fc-head-container
{
  border : 1px solid transparent;
}
