#contenantPage
{
  width : 100vw;
  height : 90vh;
  background : var(--couleur_base);
  padding-left : 1.2em;
  padding-right : 1em;
  padding-top : 0.4em;
}
h3
{
  color : var(--couleur_base);
  border-bottom : 3px solid var(--couleur_base);
}
.bouton
{
  margin-left : 2em;
}

#monCalendrier { overflow-y: hidden; }
.fc-content-skeleton
{ max-height : 1px; margin-top: 0.5em; background-color: var(--couleur_base); }
.fc-widget-content
{
  max-height : 2em;
}
/*
.fc-widget-content
{ height : 98%; position : absolute; }
*/
