:root {
    --couleur_base : #F15F06;
    --couleur_fond : #FDFCE9;
    --couleur_facebook : #183153;
    --couleur_discord  : #5666E2;
}
html
{
  font-size : 1.4vw;
  orientation : portrait;
}
body
{
  background-image : url(images/fond.png);
/*
  margin : 0px;
  padding : 0px;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size : cover;
  -moz-background-size : cover;
  -o-background-size : cover;
*/
  background-size : cover;
}
@media (max-width: 768px)
{
  html{font-size: 7vw;}
  body
  {
    background-image : url("images/fondVertical.png");
  }
}
@media (max-width: 992px) 
{
  html{font-size: 3vw;}
  body
  {
    background-image : url("images/fondVertical.png");
  }
}
@media (max-width: 1200px)
{
  html{font-size: 1.5vw;}
}
/* Styles pour empecher bootstrap d'appliquer ses couleurs */
.OurFont
{
  font-family : 'Reem Kufi'!important;
}
btn
{
  font-family : 'Reem Kufi'!important;
  background-color : var(--couleur_base)!important;
}
.bg-primary, .btn-primary {
  font-family : 'Reem Kufi'!important;
  background-color : var(--couleur_base)!important;
}
a
{
  border : none!important;
  color : #000;
  font-style : italic;
}
a:hover
{
  color : var(--couleur_base);
}
.barreDEmenu
{
  font-weight : bold;
  color : var(--couleur_fond);
}
a.barreDEmenu:hover
{
  color : black;
}

/* Pour avoir une fonte plus petite et placée à droite : se connecter/mon compte + les liens discord et facebook */
.menuAdroite
{
  font-size : 85%;
  text-align : right;
}
/* fin override bootstrap */
.retracter { padding : 20px; }
.fondVert { background : lightgreen; }
.fondJaune { background : yellow; }
.fondOrange { background : orange; }
.fondRouge
{
  background : red;
  color : lightblue;
  text-shadow : 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
}
.fondNoir
{
  background : black;
  color : white;
}
.fondBleu { background: var(--couleur_base); }
.fondBlanc
{
  background : white;
}
* { box-sizing: border-box; }
w-max { width : 100vw; }
.tresLarge
{
  width : 95vw;
}
.avecMarges
{
  padding : 2em;
}
.moitie
{
  width : 50vw;
  height : 50vh;
}
/*
.logo
{
  height : 3em;
  width : auto;
  position : absolute;
  top : 0;
  left : 0;
}
*/
.navbar
{
  padding : 0;
}
.navbar-nav a
{
  font-size : 2vw;
}
.navbar-nav li
{
  display : inline-block;
}
select.nav-link
{
  font-size : 1.7vw;
  border : 0;
}
.nav-item
{
  font-size : 2vw;
  padding-right : 1.7em;
}
body
{
  overflow-x : hidden;
  overflow-y : hidden;
}
/*
body.fond
{
  background-image : url('/images/fond.png');
  background-repeat : repeat;
}
*/
img.fond
{
  position : absolute;
  top : 1em;
  left : -1em;
  width : 110%;
  z-index : -100;
}
[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
fieldset legend
{
  font-size : 1.7vw;
  border : 1px dashed black;
  text-align : center;
}
fieldset.cadrePointilles
{
  font-size : 0.8vw;
  margin : 4em 0.2em 1em 1.5em;
  padding : 0.5em;
  border : 1px solid black;
  width : auto;
  height : auto;
  min-width : 8em;
}
fieldset a
{
  color : white;
}
img.petiteImage
{
  width : 10vw;
  height: auto;
}
img.moyenneImage
{
  width : 15vw;
  height: auto;
}
.divScroll
{
  position : fixed;
  max-width  : 90vw;
  max-height : 95vh;
  overflow-x : hidden;
  overflow-y : auto;
  padding-bottom : 1em;
}
.jaune
{
  color : yellow;
}
.rouge
{
  color : red;
}
.blanc
{
  color : white;
}
.enAbsolu
{
  position : absolute;
}
.enRelatif
{
  position : relative;
}
.enBleu
{
  color:#000;
  border:3px solid var(--couleur_base);
  border-radius : 0.1em;
  width : 100%;
  height : auto;
  background : transparent;/*IVORY*/
  padding : 0.5em;
  vertical-align: middle;
}
.fondOpaque
{
  background : transparent;/*IVORY*/
  opacity : 0.9;
}
.centrer
{
  text-align : center;
  vertical-align : center;
}
/* Lien sous forme de bouton (mettre bg-primary en plus, pour la couleur de fond) */
a.bouton
{
  color : white;
  font-size : 1.2vw;
  padding : 0.4em;
  border-radius : 0.2em;
}
/* Pas de soulignement au survol, pour que �a ait l'air d'un bouton */
a.bouton:hover
{
  text-decoration : none;
}
/* Pour mettre un ascenseur vertical dans une div */
.ascenseur
{
  width : 95vw;
  height: 85vh;
  padding-left : 1em;
  margin-top : 1.8em;
  margin-bottom : 1.2em;
  margin-left : 1em;
  margin-right : 1em;
  overflow-x : hidden;
  overflow-y : auto;
}
/* Pour le menu Liens */
.liens, .burger
{
  font-size : 2vw;
  color : white; 
  padding-bottom : 0.8em;
  opacity : 0.5;
}
.liens:hover
{
  color : white; 
  padding-bottom : 0.8em;
  opacity : 0.7;
}
.burger
{
  font-size : 4vw;
  width : 101vw;
  text-align: right;
}
/* Pour ses sous-menus */
a.dropdown-item
{
  font-size : 1.5vw;
  color : white; 
}
.burgerMenu a.dropdown-item
{
  font-size : 3vw;
}

.cadreBleu *
{
    /*
    {# border: 5px solid var(--couleur_base); #}
    {# border-radius : 1em; #}*/
    border : 3px solid black !important;
    padding : 3px;
    width : 100%;
}
.texteInvisible
{
  position : relative;
  color : transparent;
  text-shadow : none;
  background-size : cover;
  background-repeat: no-repeat;
}
