:root {
    --couleur_base : #F15F06;
    --couleur_fond : #FDFCE9;
    --couleur_facebook : #183153;
    --couleur_discord  : #5666E2;
}
body
{
  overflow-x : hidden;
  overflow-y : hidden;
  vertical-align : top;
  font-family : 'Rubik';
  /* word-spacing : 0.5em;*/
}

/* Styles pour empecher bootstrap d'appliquer ses couleurs */
.OurFont
{
  font-family : 'Reem Kufi';
  font-family : 'Rubik';
}
.btn
{
  background-color : var(--couleur_base)!important;
  border-color : var(--couleur_base)!important;
  border-radius : 0px!important;
}
.bg-primary, .btn-primary {
  background-color : var(--couleur_base)!important;
  border-color : var(--couleur_base)!important;
}
a
{
  border : none!important;
  color : black;
  font-style : italic;
}
a:hover
{
  color : var(--couleur_base);
}
.barreDEmenu
{
  font-size : 1.2em;
  font-weight : bold;
  color : white;
}
a.barreDEmenu:hover
{
  color : black;
}

/* Lien en blanc sans modification de la police (menu burger) */
.lienBlanc
{
  color : white;
}
.lienBlanc:hover
{
  color : black;
}
/* Lien en noir sans modification de la police (liens dans la page FAQ) */
.lienNoir
{
  color : black;
  font-weight : normal;
}
.lienNoir:hover
{
  color : var(--couleur_base);
  font-weight : bold;
}

/* ascenseur */

::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 1 0 5px white;
  border-radius: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: var(--couleur_base);
  border-radius: 0.5em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--couleur_base);
}
::-webkit-scrollbar-track:hover
{
  box-shadow: inset 0 0 15px var(--couleur_base); /*428bca; */
  border-radius: 0.5em;
}


/* Pour avoir une fonte plus petite et placée à droite : se connecter/mon compte + les liens discord et facebook */
.menuAdroite
{
  font-size : 85%;
  text-align : right;
}
/* fin override bootstrap */

.retracter { padding : 20px; }
.fondVert { background : lightgreen; }
.fondJaune { background : yellow; }
.fondOrange { background : orange; }
.fondRouge
{
  background : red;
  color : lightblue;
  text-shadow : 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
}
.fondNoir
{
  background : black;
  color : white;
}
.fondBleu { background: var(--couleur_base); }
* { box-sizing: border-box; }
w-max { width : 100vw; }
.tresLarge
{
  width : 95vw;
}
.avecMarges
{
  padding : 2em;
}
.moitie
{
  width : 50vw;
  height : 50vh;
}
.navbar
{
  padding : 0;
}
.navbar-nav a
{
  font-size : 2vw;
}
.navbar-nav li
{
  display : inline-block;
}
select.nav-link
{
  font-size : 1.7vw;
  border : 0;
}
.nav-item
{
  font-size : 2vw;
  padding-right : 1.7em;
}
img.fond
{
  position : absolute;
  top : 1em;
  left :-1em;
  width : 110%;
  z-index : -100;
}
[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
}
fieldset legend
{
  font-size : 1.7vw;
  border : 1px dashed black;
  text-align : center;
}
fieldset.cadrePointilles
{
  font-size : 0.8vw;
  margin : 4em 0.2em 1em 1.5em;
  padding : 0.5em;
  border : 1px solid black;
  width : auto;
  height : auto;
  min-width : 8em;
}
fieldset a
{
  color : white;
}
img.petiteImage
{
  width : 10vw;
  height: auto;
}
img.moyenneImage
{
  width : 15vw;
  height: auto;
}

.divScroll
{
  position : fixed;
  max-width  : 90vw;
  max-height : 95vh;
  overflow-x : hidden;
  overflow-y : auto;
  padding-bottom : 1em;
}
.jaune
{
  color : yellow;
}
.rouge
{
  color : red;
}
/*
.blanc
{
  color : white;
}
*/
.enAbsolu
{
  position : absolute;
}
.enRelatif
{
  position : relative;
}
.enBleu
{
  color:#000;
  border:3px solid var(--couleur_base);
  width : 100%;
  height : auto;
  background : transparent;/*IVORY*/
  padding : 0.5em;
  vertical-align: middle;
}
.fondOpaque
{
  background : transparent;/*IVORY*/
  opacity : 1;
}
.centrer
{
  text-align : center;
  vertical-align : center;
}

/* Lien sous forme de bouton (mettre bg-primary en plus, pour la couleur de fond) */
a.bouton
{
  color : white;
  font-size : 1.2vw;
  padding : 0.4em;
}
/* Pas de soulignement au survol, pour que �a ait l'air d'un bouton */
a.bouton:hover
{
  text-decoration : none;
  background : transparent!important;
  color : var(--couleur_base)!important;
  border : 2px solid var(--couleur_base)!important;
}
/* Pour mettre un ascenseur vertical dans une div */
.ascenseur
{
  width : 95vw;
  height: 85vh;
  padding-left : 1em;
  margin-top : 1.8em;
  margin-bottom : 1.2em;
  margin-left : 1em;
  margin-right : 1em;
  overflow-x : hidden;
  overflow-y : auto;
}
/* Pour le menu Liens */
.liens, .burger
{
  font-size : 2vw;
  color : white;
  padding-bottom : 0.8em;
  opacity : 0.5;
}
.liens:hover
{
  color : white;
  padding-bottom : 0.8em;
  opacity : 0.7;
}
.burger
{
  font-size : 4vw;
  width : 101vw;
  text-align: right;
}
/* Pour ses sous-menus */
a.dropdown-item
{
  font-size : 1.5vw;
  color : white;
}

.burgerMenu a.dropdown-item
{
  font-size : 3vw;
}

.cadreBleu
{
    border : 3px solid black;
    padding : 3px;
    width : 100%;
}
.texteInvisible
{
  position : relative;
  color : transparent;
  text-shadow : none;
  background-size : cover;
  background-repeat: no-repeat;
}

/* td contenant un icone Renard : &#x1F98A; */
td.fox
{
  vertical-align : top;
}
