:root {
    --couleur_base : #F75F00;
    --couleur_claire : #EBC6AE;
    --couleur_fond : #552200;
    --couleur_facebook : #0D8CF1;
    --couleur_discord  : #5465F4;
}
body
{
  overflow-x : hidden;
  overflow-y : hidden;
  vertical-align : top;
  font-family : 'Verdana';
  font-weight : normal;
  font-size : 1ww;
  color : var(--couleur_fond);
  /* word-spacing : 0.5em;*/
}
::selection
{
  color : var(--couleur_claire);
  background-color : var(--couleur_fond)!important;
}

/* Styles pour empecher bootstrap d'appliquer ses couleurs */
.OurFont
{
  font-family : 'Verdana';
}
.btn
{
  background-color : var(--couleur_fond)!important;
  border-color : var(--couleur_base)!important;
  border-radius : 0px!important;
}
.bg-primary
{
  background-color : var(--couleur_fond)!important;
}
.bg-primary, .btn-primary 
{
  font-style : italic;
  color: var(--couleur_claire)!important;
  background-color : var(--couleur_fond)!important;
  border-color : var(--couleur_base)!important;
}
.bg-primary:focus, .bg-primary:hover
{
  background-color : var(--couleur_base)!important;
}
a
{
  text-decoration : none;
  border : none;
  color : var(--couleur_fond);
  font-style : italic;
}
a:hover
{
  color : var(--couleur_base);
}
.barreDEmenu
{
  /* font-size : 1.2em;*/
  font-size : 3vw;
  font-weight : bold;
  color : var(--couleur_claire);
}
a.barreDEmenu:hover
{
  color : var(--couleur_fond);
  text-shadow : 1px 0px 1px var(--couleur_claire), -1px 0px 1px var(--couleur_claire), 0px 1px 1px var(--couleur_claire), 0px -1px 1px var(--couleur_claire);
  text-decoration : none;
}

/* Lien en blanc sans modification de la police (menu burger) */
.lienBlanc
{
  color : var(--couleur_claire);
}
.lienBlanc:hover
{
  color : var(--couleur_fond);
}
/* Lien en noir sans modification de la police (liens dans la page FAQ) */
.lienNoir
{
  color : var(--couleur_fond);
  font-weight : normal;
}
.lienNoir:hover
{
  color : var(--couleur_base);
  font-weight : normal;
}

/* ascenseur */

::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 1 0 5px var(--couleur_claire);
  border-radius: 0.1em;
}
::-webkit-scrollbar-thumb {
  background: var(--couleur_base);
  border-radius: 0.1em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--couleur_base);
}
::-webkit-scrollbar-track:hover
{
  box-shadow: inset 0 0 15px var(--couleur_base);
  border-radius: 0.1em;
}


/* Pour avoir une fonte plus petite et placée à droite : se connecter/mon compte + les liens discord et facebook */
.menuAgauche
{
  /* font-size : 85%;*/
  font-size : 2.5vw;
  text-align : left;
}
.menuAdroite
{
  /* font-size : 85%;*/
  font-size : 2.5vw;
  text-align : right;
}
/* fin override bootstrap */
/* styles avec contours */
.barreDEmenu, .burgerColor, .fondRouge, .confetti, .texteCarre1, h1, h2, h3, label
{
  text-shadow : 1px 0px 1px var(--couleur_fond), -1px 0px 1px var(--couleur_fond), 0px 1px 1px var(--couleur_fond), 0px -1px 1px var(--couleur_fond);
}

h1, h2, h3
{
  color : var(--couleur_base);
}

.retracter { padding : 20px; }
.fondVert { background : lightgreen; }
.fondJaune { background : yellow; }
.fondOrange { background : orange; }
.fondRouge
{
  background : red;
  color : lightblue;
}
.fondNoir
{
  background : var(--couleur_fond);
  color : var(--couleur_base);
}
.fondBleu { background: var(--couleur_base); }
* { box-sizing: border-box; }
w-max { width : 100vw; }
.tresLarge
{
  width : 95vw;
}
.avecMarges
{
  padding : 2em;
}
.largeur2tiers
{
  width : 66%;
}
/*
 * .moitie
{
  width : 50vw;
  height : 50vh;
}
*/
img.fond
{
  position : absolute;
  top : 1em;
  left :-1em;
  width : 110%;
  z-index : -100;
}
[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
}
fieldset legend
{
  font-size : 1.7vw;
  border : 1px dashed var(--couleur_fond);
  text-align : center;
}
fieldset.cadrePointilles
{
  font-size : 0.8vw;
  margin : 4em 0.2em 1em 1.5em;
  padding : 0.5em;
  border : 1px solid var(--couleur_fond);
  width : auto;
  height : auto;
  min-width : 8em;
}
fieldset a
{
  color : var(--couleur_claire);
}
img.petiteImage
{
  width : 10vw;
  height: auto;
}
img.moyenneImage
{
  width : 15vw;
  height: auto;
}

.divScroll
{
  position : fixed;
  max-width  : 90vw;
  max-height : 95vh;
  overflow-x : hidden;
  overflow-y : auto;
  padding-bottom : 1em;
}
.jaune
{
  color : yellow;
}
.rouge
{
  color : red;
}
.enAbsolu
{
  position : absolute;
}
.enRelatif
{
  position : relative;
}
.enBleu
{
  color : var(--couleur_base);
  border :3px solid var(--couleur_base);
  width : 100%;
  height : auto;
  background : transparent;/*IVORY*/
  padding : 0.5em;
  vertical-align : middle;
}
.fondOpaque
{
  background : var(--couleur_claire); /*transparent;*/ /*IVORY*/
  opacity : 1;
}
.centrer
{
  text-align : center;
  vertical-align : center;
}

/* Lien sous forme de bouton (mettre bg-primary en plus, pour la couleur de fond) */
button, .bouton
{
  font-size : 1.2vw;
  padding : 0.4em;
  color: var(--couleur_claire)!important;
  background : var(--couleur_fond);
  border : 2px solid var(--couleur_base);
}
/* Pas de soulignement au survol, pour que ca ait l'air d'un bouton */
button:hover, .bouton:hover
{
  text-decoration : none;
  border : 2px solid var(--couleur_fond)!important;
  background-color : var(--couleur_base)!important;
}
/* Pour mettre un ascenseur vertical dans une div */
.ascenseur
{
  width : 95vw;
  height: 85vh;
  padding-left : 1em;
  margin-top : 1.8em;
  margin-bottom : 1.2em;
  margin-left : 1em;
  margin-right : 1em;
  overflow-x : hidden;
  overflow-y : auto;
}
/* Pour le menu Liens */
.liens, .burger
{
  font-size : 2vw;
  color : var(--couleur_claire);
  padding-bottom : 0.8em;
  opacity : 0.5;
}
.liens:hover
{
  color : var(--couleur_fond);
  padding-bottom : 0.8em;
  opacity : 0.7;
}
.burger
{
  font-size : 4vw;
  width : 101vw;
  text-align: right;
}
/* Pour ses sous-menus */
a.dropdown-item
{
  font-size : 1.5vw;
  color : var(--couleur_claire);
}

.burgerMenu a.dropdown-item
{
  font-size : 3vw;
}

.cadreBleu
{
    margin : 3px;
    border : 3px solid var(--couleur_fond);
    padding : 3px;
    width : 100%;
}
.texteInvisible
{
  position : relative;
  color : transparent;
  text-shadow : none;
  background-size : cover;
  background-repeat: no-repeat;
}

/* td contenant un icone Renard : &#x1F98A; */
td.fox
{
  vertical-align : top;
}

/* imput pour les pages Jeux, Login et Compte */
input
{
  font-size : 1.5em;
  width : 100%;
  vertical-align : bottom;
  border : 2px solid var(--couleur_fond);
  background : var(--couleur_claire);
}
/* Close btn de la fenêtre d'une FAQ et du détail d'un evt */
.boutonFermer{
  text-decoration : none!important;
  position: absolute;
  top: 1px;
  right: 3px;
  color: var(--couleur_claire)!important;
  background : var(--couleur_fond)!important;
  border : 1px solid var(--couleur_claire)!important;
  z-index : 10;
}
