/* v Passer devant les styles bleus de bootstrap */
.fondOpaque a
{
  color : var(--couleur_fond)!important;
}
.fondOpaque select
{
  color : var(--couleur_fond);
}
/* ^ Passer devant les styles bleus de bootstrap */
.mini
{
  height : 3em;
  width : auto;
  border : 2px dashed var(--couleur_fond);
  color: var(--couleur_claire);
  background : var(--couleur_claire);
  padding : 0.1em;
}
.grandeImage
{
  width : 100%;
  max-width : 100%;
  height: auto;
  background-size:cover;
}
.h-20 { height: 20%; }
.h-30 { height: 27vh; }
.h-70 { height: 70vh; }
.h-99 { height: 99vh; }
.h-100 { height: 100%; }
h1
{
  color : var(--couleur_fond);
  text-align : center;
  width : 100%;
  font-size : 2em;
}
h2
{
  text-align : center;
  font-size : 1.5em;
}
h3
{
  color : var(--couleur_base);
  text-align : left;
  font-size : 1.2em;
  padding-left: 1em;
}
hr
{
  color : var(--couleur_fond);
  border : 2px solid var(--couleur_fond);
  margin : 0;
}
label
{
  color : var(--couleur_base);
  text-align : left;
  width : auto;
  font-size : 1em;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
}
input
{
  height : 2em;
  width : auto;
  min-width : 2em;
  font-size : 1em;
}
.droite
{
  float : right;
}
.gauche
{
  text-align : left;
}
.margeAdroite { padding-right : 1.5em; }
select
{
  font-size : 1em;
  height : 2em;
  width : auto;
  vertical-align : bottom;
  border : 2px solid var(--couleur_fond);
  background : var(--couleur_claire);
}
.jeSuisInvisible
{
  position : absolute;
  left : 150vw;
}
.reduire { max-width : 50vw; }
.decalerAgauche
{
  position : relative;
  left : -1em;
}
.souligneBleu
{
  display: inline-block;
  border-bottom: 2px solid var(--couleur_base); /*5bc0de;*/
}
.enLigne
{
  display : inline-block;
  white-space : nowrap;
}
.sousFenetre
{
  width : 100%;
  height: auto;
  background-size: cover;
  background-repeat:no-repeat;
  padding-bottom : 1.4em;
  padding-left : 1em;
  padding-right : 1em;
  overflow-x : hidden;
  overflow-y : auto;
}
a.confetti
{
  padding-right : 0.1em;
}
a.couleur0 { color : yellow;}
a.couleur1 { color : deeppink;}
a.couleur2 { color : powderblue;}
a.couleur3 { color : red;}
a.couleur4 { color : springgreen;}
a.couleur5 { color : orange;}
a.couleur6 { color : aqua;}
a.couleur7 { color : coral;}
a.couleur8 { color : peachpuff;}
a.couleur9 { color : lime;}
a.couleur10{ color : deepskyblue;}
a.couleur11{ color : orchid;}
a.couleur12{ color : lightgreen;}
a.taille0  { font-size : 2.5em;   }
a.taille1  { font-size : 1.5em; }
a.taille2  { font-size : 1.7em; }
a.taille3  { font-size : 2em;   }
a.taille4  { font-size : 1.7em; font-weight : bold; }
a.taille5  { font-size : 2.1em; }
a.taille6  { font-size : 1.4em; }
a.fonte0   { font-family : Comics Sans MS; }
a.fonte1   { font-family : Arial; }
a.fonte2   { font-family : Times New Roman; }
a.fonte3   { font-family : Segoe UI; }
a.fonte4   { font-family : Agnes; }
a.fonte5   { font-family : Stencil Std; }
a.fonte6   { font-family : B650-Deco; }
a.fonte7   { font-family : Tekton Pro Ext; }
a.fonte8   { font-family : Agency FB; }
a.fonte9   { font-family : B821-Deco; }
a.fonte10  { font-family : Artistic-CE; }


.camembert
{
  position : relative;
}
.camembertParent
{
  margin-top : 0.5em;
  overflow : hidden;
  width : 90%;
  height : 15vh;
  visibility : visible;
}
.legendeCamembert
{
  position : absolute;
  top : -1em;
  left : 3em;
  box-sizing: border-box;
  border: 2px solid var(--couleur_base); /*428bca;*/
  background : var(--couleur_claire);
  opacity : 1;
  visibility : hidden;
  z-index : 2;
  padding : 0.5em;
}
.camembert:hover .legendeCamembert { visibility : visible; }
img.rectangle
{
  height : 1em;
  width : auto;
}
.fleches
{
  position : absolute;
  top : 0;
  left : 0;
}
.fleches img
{
  height : 100%;
  width : auto;
}
.bonhomme
{
  height : 3em;
  width : auto;
}

img.imageCarree1
{
  position : absolute;
  width : 6em;
  height : 6em;
}
img.imageCarree2
{
  position : absolute;
  width : 6em;
  left : 7em;
}
img.imageCarree3
{
  position : absolute;
  width : 6em;
  left : 14em;
}

.texteCarre1
{
  position : relative;
  top : 0.8em;
  left : 1em;
   /* font-family : "Comic Sans MS"; */
  font-size : 2em;
  color : var(--couleur_base);
}
.texteCarre2
{
  position : relative;
  left : 3.1em;
}
.w-40
{
  width : 40vw;
  padding : 5px;
}
.w-60
{
  width : 58vw;
  padding : 5px;
}
.w-50
{
  width : 50vw;
  padding : 5px;
}
/* Mettre un ascenseur sur la row du template main */
#mainRow
{
  overflow-y: auto;
  height : 100vh;
  margin-right : 1px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
