{% extends 'main.html.twig' %}

{% block entete %}
  {{ parent() }}
<style>
.barreGauche
{
  font-size : 0.7em;
}
span
{
  width : 80vw;
  text-align : center;
  position : absolute;
}
</style>

{% endblock %}

{# Si c'est l'administrateur qui est connecté, l'affichage sera différent. #}
{% set isAdmin = false %}
{% if 'memberConnected' in session|keys %}
{%   if session.memberConnected.id >= 1 %}
{%     set isAdmin = true %}
{%     set styleBody = '' %}
{%   endif %}
{% endif %}

{% block page %}
    <div class='container-fluid'>
      <div class='row'>

{% if isAdmin %}

  <table>
    <tr>
      <td>
        <li>Dates</li><brs>
        - en ajouter une<br>
        - modifier<br>
        - des inscrits ?<br>
        <li>Jeux</li><br>
        - en ajouter un<br>
        - modifier<br>
        <li>Utilisateurs</li><br>
        - lister<br>
      </td>
      <td style='width : 1.5rem;'>
        &nbsp;
      </td>
      <td>
        {% block laPage %}
        {% endblock %}
      </td>
    </tr>
  </table>

{% else %}
  <div class='col-12'>
    &nbsp;<br>
  </div>
  <div class='col-1'>
  </div>
  <div class='col-10' style='width:60vw;'>
    <span class="form-error-icon badge badge-danger" style='width:60vw;'>Erreur 404</span><br>
    <img src="{{img_path}}renard_404.png"style='width:60vw;'>
  </div>
{% endif %}

      </div> {# div principale row #}
    </div> {# div principale container #}

{% endblock %}