{% if app.session.get('msgAlert') is defined %}
{% if app.session.get('msgAlert')|length > 1 %}

<style>

.montrerMessage
{
  position : absolute;
  z-index : 9000;
  top : -50vh;
  left : 35vw;
  width : 30vw;
  text-align : center;
  border : 4px solid var(--couleur_base);
  border-radius : 1em;
  background : Ivory;
  color : var(--couleur_base);
  text-shadow : 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
  animation-timing-function: ease-in;

  -webkit-animation: fadeinout 20s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeinout 20s; /* Firefox < 16 */
      -ms-animation: fadeinout 20s; /* Internet Explorer */
       -o-animation: fadeinout 20s; /* Opera < 12.1 */
          animation: fadeinout 20s;
}
@keyframes fadeinout
{
    from { opacity: 0; top : -40vh;  left : 35vw; }
    10%  { opacity: 1; top : 40vh;   left : 35vw; }
    to   { opacity: 0; top : -50vh; left : 35vw; }
}

</style>

      <div class="montrerMessage">
        <h2>{{app.session.get('msgAlert')}}</h2>
      </div>
      {# Supprimer le message après qu'il ait été affiché. #}
      {{ app.session.set('msgAlert','') }}

{% endif %}
{% endif %}
