{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}accueil.css">
<style>
.bordRond { border-radius : 1em; }
</style>
{% endblock %}

{% block laPage %}

<div class="row">
  {# Ligne 1 (sur ecran assez grand) : image Médina pour décaler le texte vers le bas. #}
  <div class="col-5">
    <br><br>
    <h1><a href="jeux">Nos jeux</a></h1>
  </div>
  <div class="col-7">
  </div>
  <div class="col-12">
    <br><br>
    <h1><a href="calendrier">Les évènements à venir</a></h1>
  </div>
  <div class="col-3">
  </div>
  <div class="col-9">
    <br><br>
    <h1><a href="contact">Nous contacter</a></h1>
  </div>
</div>{# row #}

{% endblock %} {# Fin du block laPage #}