{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}accueil.css">
<style>
  .grosTitre
  {
    color : white;
    text-shadow : 1px 0px 5px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black, 2px 0px 1px black, -2px 0px 1px black, 0px 2px 1px black, 0px -2px 1px black;
    text-align : left;
  }
</style>
{% endblock %}

{% block laPage %}

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-9">
    <br><br>
    <h1 class="grosTitre"><a class="grosTitre" href="jeux">Nos jeux</a></h1>
  </div>
  <div class="col-2">
          <fieldset class="cadrePointilles bg-primary enAbsolu">
            <legend class="bg-primary">Liens</legend>
            <a href="https://lerenardenjoue.forumactif.com/" title="Discutez des jeux que vous aimez (ou pas), proposez vos propres soirées jeux, ...">Notre forum</a><br>
            <a href="https://ludiworld.com/newshop/84-jeux-de-societe" title="Votre boutique de jeux, ici, à Bussy !">Ludiworld</a><br>
            <a href="https://www.bussysaintgeorges.fr/education/petite-enfance/la-ludotheque/" title="Ludothèque de Bussy, pour les enfants de 0 à 12 ans">Ludothèque</a><br>
            <a href="http://www.ludhainaut.fr/" title="Association de joueurs à Onnaing">Lud'Hainaut</a><br>
          </fieldset>
  </div>
  <div class="col-1">
  </div>
  <div class="col-11">
    <br><br>
    <h1 class="grosTitre"><a class="grosTitre" href="https://lerenardenjoue.forumactif.com/">Notre forum</a></h1>
  </div>
  <div class="col-1">
  </div>
  <div class="col-11">
    <br><br>
    <h1 class="grosTitre"><a class="grosTitre" href="contact">Infos et contact</a></h1>
  </div>
  <div class="col-1">
  </div>
  <div class="col-11">
    <br><br>
    <h1 class="grosTitre"><a class="grosTitre" href="calendrier">Les évènements à venir</a></h1>
  </div>
</div>{# row #}

{% endblock %} {# Fin du block laPage #}