
                              <a class="barreDEmenu" href=" https://discord.gg/jqnJa4WG7X ">
                                &nbsp;<i class="fab fa-discord" style="color:var(--couleur_discord);"></i>
                              </a>
                              &nbsp;&nbsp;&nbsp;
                              <a class="barreDEmenu" href="https://www.facebook.com/lerenardenjoue">
                                <i class="fab fa-facebook" style="color:var(--couleur_facebook);"></i>
                              </a>
                              &nbsp;
