
                              <a class="barreDEmenu" href="https://discord.com/channels/886954892076404768/886957613110153226">
                                &nbsp;<i class="fab fa-discord" style="color:var(--couleur_discord);"></i>
                              </a>
                              &nbsp;&nbsp;&nbsp;
                              <a class="barreDEmenu" href="https://www.facebook.com/lerenardenjoue">
                                <i class="fab fa-facebook" style="color:var(--couleur_facebook);"></i>
                              </a>
                              &nbsp;
