
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../web/css/general.css">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/ac0e3984ff.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  


    <link href='../../web/css//calendrier.css' rel='stylesheet' />
    <link href='../../node_modules/fullcalendar//core/main.css' rel='stylesheet' />
    <link href='../../node_modules/fullcalendar//bootstrap/main.css' rel='stylesheet' />
    <link href='../../node_modules/fullcalendar//daygrid/main.css' rel='stylesheet' />

    <script src='../../web/js//calendrier.js'></script>

    <script src='../../node_modules/fullcalendar//core/main.js'></script>
    <script src='../../node_modules/fullcalendar//bootstrap/main.js'></script>
    <script src='../../node_modules/fullcalendar//daygrid/main.js'></script>
    <script src='../../node_modules/fullcalendar//interaction/main.js'></script>

    <script>
      
      var listeDesc =
      {
                    
          1 : {
                         "titre": "Les renards jouent",
                         "desc" : "Nous jouerons toute la journée, et même la soirée, avec une pause pour les repas, bien sûr (on ira chercher un truc chez O'Tacos, ou autre).<br><br>Vous pouvez venir à n'importe quel moment, pour une partie, pour deux heures, pour venir voir comment ça se passe. Vous prenez pas la tête.<br>Contactez-moi avec le formulaire de ce site, et je répondrai à toutes vos questions. Et comme ça vous récupérerez aussi l'adresse pour nos soirées jeux.",
                         "periode" : " le 31/08/2019,<br>de 14h à 19h"
              },                  
          5 : {
                         "titre": "COPS",
                         "desc" : "Séance de jeux de rôles.<br><br>(Nous sommes au complet pour cette activité.)",
                         "periode" : " le 14/09/2019,<br>de 15h à 23h"
              },                  
          6 : {
                         "titre": "Les renards jouent",
                         "desc" : "Après-midi jeux, lieu habituel.<br>Ce sera le samedi 28 septembre, et non un mardi comme indiqué ci-dessus. Je corrige ça au plus vite.<br><br>Contactez le webmaster par mail pour vous inscrire.",
                         "periode" : " le 28/09/2019,<br>de 14h à 19h"
              },                  
          8 : {
                         "titre": "Les renards jouent",
                         "desc" : "La rentrée s'est bien passée ? Bon. Venez vous détendre autour d'une table de jeux.<br><br>On va tenter de vous proposer une journée jeux au moins un week-end sur deux, ce qui ne vous empêche pas de nous contacter pour qu'on en ajoute une à la date qui vous convient, même en soirée. On n'attend que ça !<br><br>Si vous n'êtes jamais venu, utilisez un formulaire de contact pour toutes vos questions. Précisez bien votre email pour que je puisse vous répondre.",
                         "periode" : " le 15/09/2019,<br>de 14h à 19h"
              }        
      };
      var lesMois = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
      var ceMoisCi = lesMois[new Date().getMonth()];

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid','interaction','bootstrap' ],
          height : 500,
          buttonText : {
                         today : 'Revenir en '+ceMoisCi,
                         dayGridMonth : "mois",
                         dayGridWeek : "semaine",
                         dayGridDay  : "jour"
                       },
          firstDay : 1,
          header : {
                     center : 'title',
                     right : 'today prev next',
                     left :  'dayGridMonth dayGridWeek dayGridDay'
                   },
          businessHours: { daysOfWeek : [2,4,6] },
          events : [
                     {
                       id : 1,
                       title : "Les renards jouent",
                       start : "2019-08-31"
                       
                     },                   
                     {
                       id : 5,
                       title : "COPS",
                       start : "2019-09-14"
                       
                     },                   
                     {
                       id : 6,
                       title : "Les renards jouent",
                       start : "2019-09-28"
                       
                     },                   
                     {
                       id : 8,
                       title : "Les renards jouent",
                       start : "2019-09-15"
                       
                     }                   
                   ],
          eventClick : function(info) { detailEvt(listeDesc[info.event.id]); }
        });

        calendar.render();
      });

    </script>
</head>

  <body>
          <img class="fond container-fluid d-none d-md-block" src="../images/fond.png">
    <img class="fond container-fluid d-md-none" src="../images/fondVertical.png">

    <header class="row">
      <div class="col-xs-12 container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand col-xs-1" href="#"><img src="../images/logo.gif" class="logo"></a>
            <ul class="navbar-nav col-xs-11">
              <div class="d-none d-md-block">                 <li class="nav-item">
                  <a class="nav-link" href="accueil"><i class="fas fa-home">&nbsp;</i>Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="calendrier"><i class="fas fa-calendar-alt">&nbsp;</i>Agenda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="jeux"><i class="fas fa-dice">&nbsp;</i>Jeux</a>
                </li>
                                                <li class="nav-item">
                  <a class="nav-link" href="#idPJ"><i class="fas fa-comment">&nbsp;</i>Contact</a>
                </li>
              </div>               <div class="navbar-nav col-xs-11 d-md-none">                 <li class="nav-item" title="Page d'accueil">
                  <a class="nav-link" href="accueil"><i class="fas fa-home">&nbsp;</i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" title="Calendrier des évènements">
                  <a class="nav-link" href="calendrier"><i class="fas fa-calendar-alt">&nbsp;</i></a>
                </li>
                <li class="nav-item" title="Nos jeux">
                  <a class="nav-link" href="jeux"><i class="fas fa-dice">&nbsp;</i></a>
                </li>
                                                <li class="nav-item" title="Formulaire de contact">
                  <a class="nav-link" href="#idPJ"><i class="fas fa-comment">&nbsp;</i></a>
                </li>
              </div>             </ul>
        </nav>
      </div>
    </header>

    <div class="row">
      <div class="col-xs-3 col-sm-2 col-md-1">
          <fieldset class="cadrePointilles bg-primary">
            <legend class="bg-primary">Liens</legend>
            <a href="https://discord.gg/wFjwqfF" title="Discutez des jeux que vous aimez (ou pas), proposez vos propres soirées jeux, ...">Notre forum</a><br>
            <a href="https://https://lourshibou.blogspot.com/" title="Association partenaire du Renard enjoué, à Ferrières-en-Brie">L'Ours Hibou</a><br>
            <a href="https://ludiworld.com/newshop/84-jeux-de-societe" title="Votre boutique de jeux, ici, à Bussy !">Ludiworld</a><br>
            <a href="https://www.bussysaintgeorges.fr/education/petite-enfance/la-ludotheque/" title="Ludothèque de Bussy, pour les enfants de 0 à 12 ans">Ludothèque</a><br>
            <a href="http://www.ludhainaut.fr/" title="Association de joueurs à Onnaing">Lud'Hainaut</a><br>
          </fieldset>
      </div>       <div class="col-xs-9 col-sm-10 col-md-11">
        <div class="container-fluid">
          <div class="row">
          <div class="container-fluid">
  <div class="row">

    <div class="col-xs-12" id='calendar'>
    </div>

    <div class="col-xs-4">
        <div id='titreEvt'>
                    4 évènements ce mois-ci !
                  </div>
        <div id='dateEvt'></div>
    </div>
    <div class="col-xs-7 offset-1" id='descEvt'>
    </div>

  </div>
</div>
          </div>
        </div>
      </div>     </div> 

  </body>
</html>