
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/general.css">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/ac0e3984ff.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  

  <link rel="stylesheet" href="/css/jeux.css">
  <link rel="stylesheet" href="/css/toolTip.css">
</head>

  <body>
      
    <header class="row">
      <div class="col-xs-12 container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand col-xs-1" href="#"><img src="/images/logo.gif" class="logo"></a>
            <ul class="navbar-nav col-xs-11">
              <div class="d-none d-md-block">                 <li class="nav-item">
                  <a class="nav-link" href="accueil"><i class="fas fa-home">&nbsp;</i>Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="calendrier"><i class="fas fa-calendar-alt">&nbsp;</i>Agenda</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="jeux"><i class="fas fa-dice">&nbsp;</i>Jeux</a>
                </li>
                                                <li class="nav-item">
                  <a class="nav-link" href="contact"><i class="fas fa-comment">&nbsp;</i>Contact</a>
                </li>
              </div>               <div class="navbar-nav col-xs-11 d-md-none">                 <li class="nav-item" title="Page d'accueil">
                  <a class="nav-link" href="accueil"><i class="fas fa-home">&nbsp;</i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" title="Calendrier des évènements">
                  <a class="nav-link" href="calendrier"><i class="fas fa-calendar-alt">&nbsp;</i></a>
                </li>
                <li class="nav-item active" title="Nos jeux">
                  <a class="nav-link" href="jeux"><i class="fas fa-dice">&nbsp;</i></a>
                </li>
                                                <li class="nav-item" title="Formulaire de contact">
                  <a class="nav-link" href="contact"><i class="fas fa-comment">&nbsp;</i></a>
                </li>
              </div>             </ul>
        </nav>
      </div>
    </header>

    <img class="fond container-fluid d-none d-md-block enAbsolu" style="top:3em;" src="/images/fond.png">
    <img class="fond container-fluid d-md-none" src="/images/fondVertical.png">

    <div class="row">

      <div class="col-xs-3 col-sm-2 col-md-1">
          <fieldset class="cadrePointilles bg-primary">
            <legend class="bg-primary">Liens</legend>
            <a href="https://lerenardenjoue.forumactif.com/" title="Discutez des jeux que vous aimez (ou pas), proposez vos propres soirées jeux, ...">Notre forum</a><br>
            <a href="https://ludiworld.com/newshop/84-jeux-de-societe" title="Votre boutique de jeux, ici, à Bussy !">Ludiworld</a><br>
            <a href="https://www.bussysaintgeorges.fr/education/petite-enfance/la-ludotheque/" title="Ludothèque de Bussy, pour les enfants de 0 à 12 ans">Ludothèque</a><br>
            <a href="http://www.ludhainaut.fr/" title="Association de joueurs à Onnaing">Lud'Hainaut</a><br>
          </fieldset>
      </div>       

      <div class="col-xs-9 col-sm-10 col-md-11">
        <div class="container-fluid">
          <div class="row">
          
  <div class='container-fluid'>
    <div class='row w-100'>

      <div class='col-5 w-40'>
          <form style="padding-top : 0.5em;" method="POST" action="jeux?operation=recherche" class="fondOpaque cadreBleu enRelatif">
              <table class="w-100">
                <tr>
                  <td class="w-25">
                    <label>Titre :</label>
                  </td>
                  <td style="position:relative;" class="w-75">
                    <a href="#" style="position:relative;">
                      <input type='text' name='jeuTitre'><div class='tool-tip left'>Nom&nbsp;complet&nbsp;ou&nbsp;partiel</div>
                    </a>
                  </td>
                </tr>
              </table>
          </form>
      </div>

      <div class='col-7 w-60'>
        <div class="row">
          <div class='col-5'>
            <div class='grandeImage cadreBleu' style="padding-left:-1em;background-image:url(/images/imagesJeux/marvelheroes.jpg);">
            </div>
          </div>
          <div class='col-7 camembert'>
            <div class ='row'>
              <div class="col-12 cadreBleu fondBleu"><h2>Marvel Heroes</h2></div>
              <div class='col-12 enLigne' id='divDuree'>
                <div class="camembertParent enLigne">
                  <img class="imageCarree1" src="../images/secteur60vert.gif"><img class="imageCarree1" src="../images/cadran.gif"><img class="imageCarree2" src="../images/secteur60vert.gif"><img class="imageCarree2" src="../images/cadran.gif"><img class="imageCarree3" src="../images/secteur60vert.gif"><img class="imageCarree3" src="../images/cadran.gif">
                </div>
              </div>
              <div class='col-4' id='divImgNbJoueurs'><img class='mini' src="/images/nbJoueurs.gif"></div>
              <div class='col-4' id='divTxtNbJoueurs'><label class='gauche blanc'>2 à 4 joueurs</labe></div>
              <div class='col-4' id='divNiveau'><img class='mini' src="/images/pictoNiv5.gif"></div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-5 w-40'>
        <div class=' listeJeux cadreBleu'>
        <a href="jeux?jeuChoisi=2" class="confetti couleur0 taille0 fonte9">Age of Renaissance</a>
        <a href="jeux?jeuChoisi=84" class="confetti couleur1 taille1 fonte10">Age of Steam</a>
        </div>
      </div>

      <div class='col-7 w-60 fondOpaque cadreBleu'>
        <div class='enLigne'>
          <h3 class='enLigne'><label>But :</label></h3>
            <span class='enLigne' style="font-size : 2em; font-weight : bold;">Réaliser l&#039;objectif principal</span>
        </div>
        <h3><label style="text-align : left;">Principe :</label></h3>
        <div class='sousFenetre'>
          Chaque joueur contrôle 4 super héros et l'ennemi juré d'un de ses adversaires.<br> Un jeu complexe, où tout tient dans la manipulation des règles, qu'il est donc nécessaire de maîtriser. Peu de fun, si ce n'est au niveau du thème et des figurines de héros.
        </div>
      </div>

    </div>
  </div>


  
    <div id="RangementDesJeux" class="jeSuisInvisible">
    	<?php echo $_SESSION["remplissageJeux"]; ?>
    </div>
  </body>
</html>